{% extends 'base.html' %}

{% block title %} Delete Post: {{post.title}} {% endblock %}

{% block content %}

<h1>Delete {{post.title}} </h1> 

{% if user.is_authenticated %}

<div class="form-group"> <!--form-group is a bootstrap class-->
    <form method="POST">
        {% csrf_token %} <!-- security csrf -->
        <strong>Are you sure you want to delete post?</strong>
        <button class="btn btn-danger"> Delete </button>
        <a href="{% url 'article-detail' post.pk %}" class="btn btn-success"> Cancel </a>
    </form>
</div>

{% else %}
    <h1>Please login to interact. Thanks </h1> 
{% endif %}

{% endblock %}