{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block content %}

<h1>Add a New Post</h1> 

{% if user.is_authenticated %}

<div class="form-group"> <!--form-group is a bootstrap class-->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!-- security csrf -->
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-success"> Post </button> <a href="{% url 'home' %}" class="btn btn-danger"> Cancel </a>
    </form>
</div>

{% else %}
    <h1>Please login to interact. Thanks </h1> 
{% endif %}
    
{% endblock %}